body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.list {
    text-align: center;
}

.list-item {
    display: inline-block;
    list-style-type: none;
    letter-spacing: 2.7px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    margin: 72px;
    margin-bottom: 25.5px;
    margin-top: 25.5px;
}

.list-item a {
    text-decoration: none;
    color: red;

}

.photo img {
    width: 100%;

}

.main {
    text-align: center;
    margin:0 auto;
    max-width: 1145px;
}
.main p{
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.4px;
    
}
.name {
    text-transform: uppercase;
}

.button {
    text-align: center;
    padding: 18px 43px;
    background-color: red;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
    letter-spacing: 1.8px;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    margin-top: 66px;
    margin-bottom: 82px;
    cursor: pointer;
}
.footer{
    text-align: right;
    letter-spacing: 2.4px;
    font-weight: bold;
    margin-right: 105px;
    margin-bottom: 29px;
   
    
}